<div class="input-group">
  <ion-item lines="none" class="custom-input">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email Address"></ion-input>
  </ion-item>

 <ion-item lines="none" class="custom-input ion-margin-top">
  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>

  <ion-input
    [(ngModel)]="password"
    name="password"
    [type]="isPasswordVisible() ? 'text' : 'password'"
    placeholder="Password">
  </ion-input>

  <ion-icon
    [name]="isPasswordVisible() ? 'eye-off-outline' : 'eye-outline'"
    slot="end"
    (click)="togglePasswordVisibility()"
    style="font-size: 18px; cursor: pointer; opacity: 0.8;">
  </ion-icon>
</ion-item>


  <ion-item lines="none" class="custom-input ion-margin-top">
    <ion-icon name="remove-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
  </ion-item>
</div>

<div class="strength-meter" *ngIf="password">
  <div class="meter-bar"></div>
  <span class="meter-text">Password strength: <strong>Good</strong></span>
</div>

<ion-button expand="block" (click)="submit()" [disabled]="isLoading()" class="main-submit-btn">
  <span *ngIf="!isLoading()">Create Account</span>
  <ion-spinner *ngIf="isLoading()" name="crescent"></ion-spinner>
</ion-button>

<ion-text color="danger" *ngIf="error()">
  <p class="error-text">{{ error() }}</p>
</ion-text>
