.main-submit-btn {
  --background: linear-gradient(135deg, #92d075 0%, #59ad9b 100%);
  --border-radius: 20px;
  --box-shadow: 0 10px 25px rgba(89, 173, 155, 0.3);
  height: 60px;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.input-group {
  margin-bottom: 20px; /* Space between the last input and the submit button */
}

.custom-input {
  margin-bottom: 16px; /* Space between Email and Password fields */
}
